/* AddToCart.css */
.my-component button {
  /* Target the button INSIDE the .my-component div */
  border-radius: 8px;
  border: 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: violet;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* AddToCart.css */
.my-component {
  /* Target the div */
  display: inline-block;
}
